.navigation {
    span {
        // color: var(--black-100, #1C1C1C);
        color: #1C1C1C;
    }

    li {
        cursor: pointer;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }

    a {
        padding: 4px 8px 4px 8px;
    }

    .active {
        background: rgba(233, 208, 128, 0.10);
        border-left: 4px solid #E9D080;
        margin-left: 4px;
        padding-left: 15px;

        .right-arrow {
            display: none;
        }
    }
}