<div class="mx-6 flex h-screen">
  <div class="m-auto bg-white w-[30.2rem]">
    <div class="text-center">
      <p class="text-2xl font-semibold">Create your Bio-diversity account</p>
      <p class="subtitle text-dropaz-black">Register to start managing your image uploads</p>
    </div>

    <form class="md:text-base" [formGroup]="registrationForm" (ngSubmit)="register()">
      <div class="my-10">
        <div class="flex flex-col">
          <label class="mb-2" for="">What's your name?</label>

          <input
            type="text"
            placeholder="Name"
            formControlName="name"
            class="border p-2 rounded-xl focus:outline-none focus:border-slate-400 focus:ring-0"
            [ngClass]="{
              'border-red-400': f['name'].invalid && (f['name'].touched || f['name'].dirty)
            }"
          />
          <div class="text-red-400" *ngIf="f['name'].invalid && (f['name'].dirty || f['name'].touched)">
            <small *ngIf="f['name']['errors']?.['required']">Your name is required</small
            ><small *ngIf="f['name']['errors']?.['pattern']">Please use a valid name</small>
          </div>
        </div>

        <div class="flex flex-col mt-5">
          <label class="mb-2" for="">What's your email address?</label>

          <input
            type="text"
            placeholder="doe@mail.com"
            formControlName="email"
            class="border p-2 rounded-xl focus:outline-none focus:border-slate-400 focus:ring-0"
            [ngClass]="{
              'border-red-400': f['email'].invalid && (f['email'].touched || f['email'].dirty)
            }"
          />
          <div class="text-red-400" *ngIf="f['email'].invalid && (f['email'].dirty || f['email'].touched)">
            <small *ngIf="f['email']['errors']?.['required']">Your email is required</small
            ><small *ngIf="f['email']['errors']?.['email']">Please use a valid email</small>
          </div>
        </div>

        <div class="relative flex flex-col mt-5">
          <label class="mb-2" for="">Create a password for your account</label>
          <input
            [type]="visiblePassword ? 'text' : 'password'"
            formControlName="password"
            placeholder="*******"
            class="border p-2 rounded-xl focus:outline-none focus:border-slate-400 focus:ring-0"
            [ngClass]="{
              'border-red-400': f['password'].invalid && (f['password'].touched || f['password'].dirty)
            }"
          />
          <button type="button" class="absolute inset-y-0 right-0 px-3 pt-2 mt-4" (click)="togglePassword()">
            <svg
              *ngIf="!visiblePassword"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-4 h-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"
              />
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
            </svg>

            <svg
              *ngIf="visiblePassword"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-4 h-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 10-4.243-4.243m4.242 4.242L9.88 9.88"
              />
            </svg>
          </button>
          <div class="text-red-400" *ngIf="f['password'].invalid && (f['password'].dirty || f['password'].touched)">
            <small *ngIf="f['password']['errors']?.['required']">Please key in your password</small>
            <small *ngIf="f['password']['errors']?.['pattern']"
              >Please use a valid password. Complete with a special character</small
            >
            <small *ngIf="f['password']['errors']?.['minLength']">Please use a stronger password</small>
            <small *ngIf="f['password']['errors']?.['maxLength']">Too long</small>
          </div>
        </div>
      </div>
      <div class="flex flex-col justify-center cursor-pointer">
        <button
          class="bg-amber-200 my-2 rounded-lg py-2.5 px-10 text-color text-center"
          type="submit"
          [disabled]="registrationForm.invalid"
        >
          Create account
        </button>

        <p class="text-center">
          Already have an account?
          <a class="text-blue-400 underline cursor-pointer" routerLink="/">Login</a>
        </p>
      </div>
    </form>
  </div>
</div>
