<div class="flex justify-start">
    <div class="flex">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="mr-2" [routerLink]="menuItems[0].link">
            <path d="M20.25 12L3.75 12" stroke="#A4A4A4" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            <path d="M10.5 5.25L3.75 12L10.5 18.75" stroke="#A4A4A4" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
        </svg>

        <div *ngFor="let item of menuItems" class="flex">
            <a class="text-sm font-semibold text-brand-black-40 mx-1" [routerLink]="item.link" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">{{item.name}}</a>
            <p class="text-xs font-normal leading-4.5 text-brand-black-40">/</p>
        </div>
        <p class="text-sm font-semibold text-brand-black-100 mx-1">{{currentPage}}</p>
    </div>
</div>