<div>
  <div class="overflow-y-scroll">
    <div class="flex my-2" *ngFor="let activity of activities">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="mx-2 md:mt-2 md:h-5 md:w-5 lg:w-6 lg:h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"
        />
      </svg>

      <div>
        <p class="text-sm font-normal">
          <span class="mr-1"> {{ activity.user.name || activity.user.email }}</span>
          <span>({{ activity.user.role }}) </span>
          <span>{{ activity.description }}</span>
        </p>
        <p class="text-xs text-slate-400 font-normal leading-4.5">
          <span>{{ activity.created | date : 'shortTime' }}</span> |
          <span> {{ activity.created | date : 'fullDate' }}</span>
        </p>
      </div>
    </div>
  </div>
</div>
